/* Page-specific styles */

/* Homepage */

.page-home #header {
    background: url(/images/backpacking1.jpg) no-repeat;
    background-position: top center;
    background-size: contain;
    min-height: 640px;
}
#home-form {
    background-color: var(--bgcolor-form);
    border-radius: 3px;
    box-shadow: 0 10px 30px #00000012;
    margin-top: -60px;
    padding: 1.5em 2em 2em;
}
#home-form .label {
    display: block;
    margin-bottom: 0.5em;
}
.page-home .form-wrap {
    align-items: end;
    display: grid;
    gap: 1em;
    grid-template-columns: 3fr 3fr 1fr;
    margin: 0 auto 0;
}
@media screen and (max-width: 640px) {
    .page-home .form-wrap {
        grid-template-columns: none;
        grid-template-rows: auto;
    }
}
.page-home .two-part-overlap {
    padding-top: 3em;
    position: relative;
}
.page-home .content-block-wrap {
    position: relative;
}
.page-home .content-block-wrap img {
    float: left;
    margin-right: 2em;
    margin-top: -2em;
}
.page-home .content-block {
    background-color: #F8F8F8;
    margin-left: auto;
    max-width: 620px;
    padding: 1.5em 1.5em 4.5em 4.5em;
    width: 100%;
}
.page-home .content-block div {
    color: #4A4B49;
    font-size: 1rem;
    margin: 1em 0;
}
.page-home .link-block {
    font-size: 1rem;
    margin-left: 1em;
    margin-top: -2em;
    max-width: 300px;
}
@media screen and (max-width: 840px) {
    .page-home .content-block-wrap img {
        margin-bottom: 1em;
    }
    .page-home .link-block {
        margin-top: 0;
    }
}
@media screen and (max-width: 640px) {
    .page-home .content-block-wrap img {
        width: 100%;
    }
    .page-home .content-block {
        padding: 1.5em;
    }
}
.page-home .link-list {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.page-home .link-list a {
    color: #4A4B49;
    display: block;
    margin: 0.25em 0;
    padding: 0.25em 0;
    text-decoration: none;
}
.page-home .link-list a:before {
    color: var(--color-accent-dark);
    content: '\02C6';
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.5rem 0 0;
    transform: rotate(90deg);
}

/* About Page */
.page-about {
    background-color: var(--bgcolor-content-page);
    padding-bottom: 6em;
}
.page-about .form-wrap {
    background-color: var(--bgcolor-form);
    padding-bottom: 3em;
}
.page-about .form-wrap .label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5em;
}
.page-about .content-block div {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1em;
}
.page-about .content-block .contact {
    align-items: flex-start;
    display: flex;
}
.page-about .content-block [class^='icon-'] {
    display: inline-block;
    height: 1.5em;
    margin-right: 0.5em;
    width: 1.5em;
}
.page-about .content-block .icon-at {
    color: #545050;
    font-size: 1.3rem;
    height: 1em;
}
.page-about .content-block .icon-house {
    background: transparent url(/images/icons/icon-location.svg) no-repeat;
    background-size: contain;
}

/* Listings pages */
.page-listings {
    background-color: var(--bgcolor-content-page);
}
.page-listings .listings-header {
    align-items: center;
    display: flex;
    margin-bottom: 1em;
}
.page-listings .listings-header h1,
.page-listings .listings-header h2 {
    font-size: 1.75rem;
    font-weight: normal;
}
.page-listings .listings-header .dropdown-list {
    margin-left: auto;
}
.page-listings .listings-list {
    background-color: #fff;
    padding-top: 0.5em;
}
.page-listings .listings-list .wide-layout {
    margin-top: 2em;
    margin-bottom: 0;
}

.page-listing-detail h2,
.page-listing-detail h3 {
    font-size: 1rem;
    font-weight: 500;
}
.page-listing-detail .description-text {
    margin-bottom: 4em;
}
.page-listing-detail .detail-images {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.page-listing-detail .detail-images img {
    max-width: 100%;
}
.page-listing-detail .detail-images img:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: span 2;
}
.page-listing-detail .detail-images img:nth-child(3) {
    margin-top: auto;
}
@media screen and (max-width: 540px) {
    .page-listing-detail .detail-images {
        display: block;
    }
    .page-listing-detail img {
        width: 100%;
    }
}
.listing-excerpt {
    display: grid;
    font-family: inherit;
    gap: 1em;
    grid-template-columns: 1fr 5fr;
    padding-bottom: 2em;
}
.listing-excerpt img {
    max-width: 300px;
}
.listing-excerpt header {
    align-items: flex-start;
    display: flex;
    margin-bottom: 1em;
}
.listing-excerpt header h3 {
    font-size: 1.25rem;
    margin: 0;
}
.listing-excerpt p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
}
.amenity-icons {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-top: 0;
    padding: 0;
}
.amenity-icons.grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0;
    max-width: 480px;
}
.amenity-icons .grid li {
    margin-top: 0;
    margin-left: 0.25em;
}
.amenity-icons span[class^='icon-'] {
    background-color: #F8F9FA;
    border: 1px solid #E6EBEF;
    border-radius: 3px;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

/* Adventure Ideas Pages */
.page-adventure-ideas .page-header {
    background: url(/images/mtbaker-hiking.jpg) no-repeat;
    background-position: top center;
    background-size: auto;
    min-height: 420px;
}
.page-adventure-ideas .layout {
    padding-top: 2em;

    h3 {
        margin-bottom: 1em;
    }
}
/* Careers Page */
.page-careers {
    .page-header {
        align-items: center;
        background: url(/images/careers-header.png) no-repeat;
        background-position: top center;
        background-size: auto;
        min-height: 420px;

        .page-header-content {
            margin-top: 2em;
            text-align: center;
        }
    }
    .three-parts {
        border-bottom: 2px solid var(--color-border-plan);
        padding-bottom: 4em;
        text-align: left;
        
        h4 {
            font-weight: bold;

            &:not(:first-of-type) {
                margin-top: 3em;
            }
        }
        .item {
            padding-left: 0;

            p {
                color: var(--color-accent-muted);
            }
        }
    }
    article a {
        color: var(--color-accent-cta);
        font-weight: bold;
        text-decoration: none;
    }
    article.careers-portal-cta {
        padding-top: 0;

        &> div {
            background-image: url(/images/careers-portal-cta.png);
            background-repeat: no-repeat;
            background-position: center right;
            border: 2px solid var(--color-border-plan);
            border-radius: 5px;
            display: inline-block;
            min-width: 430px;
            padding: 1.25em;

            h3, p {
                margin: 0;
            }
            p.subhead {
                color: var(--color-accent-muted);
                margin-bottom: 1em;
                margin-top: 0.25em;
            }
            a .icon:before {
                content: '→';
            }
        }
    }
}
@media screen and (max-width: 430px) {
    .page-careers article.careers-portal-cta > div {
        background-image: none;
        min-width: 100%;
    }
}
/* Submit Listing Page */
.page-submit-listing .page-header {
    background: url(/images/utah-desert.jpg) no-repeat;
    background-position: top center;
    background-size: auto;
    min-height: 420px;
}
.page-submit-listing .form-wrap {
    background-color: var(--bgcolor-form);
    padding-bottom: 3em;

    .asterisk,
    .error {
        color: var(--color-accent-error);
    }
}
.page-submit-listing .layout {
    padding-top: 2em;

    h3 {
        margin-bottom: 1em;
    }
}
.page-submit-listing .form-field {
    margin-bottom: 1em;
}
.page-submit-listing form [aria-invalid="true"] {
    border-color: var(--color-accent-error);
}

/* Passes/Plans Page */
.page-plans {
    background-color: var(--bgcolor-plans-page);

    article.layout {
        padding-top: 1em;
    }
}
.page-plans {
    p {
        color: var(--color-accent-muted);
        font-size: 0.8rem;
        margin-left: 5em;
        margin-top: 1.5em;
        margin-right: 5em;
    }
    .plan-list {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
        & > li {
            padding: 0;
            width: 50%;

            & > div {
                border: 2px solid var(--color-border-plan);
                border-radius: 5px;
                padding: 2em 1em;
            }
        }
        h3 {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 1em;

            span {
                font-weight: bold;
            }
        }
        h4 {
            font-size: 2rem;
            margin-bottom: 0;
            margin-top: 0;

            span {
                color: var(--color-accent-muted);
                font-size: 1.2rem;
            }
        }
        ul {
            margin: 3em 0;
            padding: 0;
        }
        li li {
            display: flex;
            flex-direction: row;
            margin: 0 0 1em;
            padding: 0 2em;
            text-align: left;

            span[class^="icon-"] {
                flex-shrink: 0;
                height: 1rem;
                margin-right: 0.5em;
                width: 1rem;
            }
        }
        p.subhead {
            margin-top: 0.5em;
        }
        button {
            border: none;
            border-radius: 5px;
            box-shadow: none;
            color: var(--color-primary-light);
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            padding: 1em 4em;
            -webkit-appearance: none;
        }
        li.plan-basic {
            margin-left: auto;

            h3 span {
                color: var(--color-accent-muted);
            }
            button {
                background-color: var(--color-accent-muted);
            }
        }
        li.plan-pro {
            margin-left: 0;
            margin-right: auto;

            &> div {
                background-color: var(--color-primary-light);
                box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.10);
                padding-bottom: 4rem;
                padding-top: 4rem;
                position: relative;

                &:before {
                    background-color: var(--color-accent-tertiary);
                    content: '';
                    border-radius: 5px 5px 0 0;
                    display: block;
                    height: 7px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                }
            }
            .icon-proplan {
                height: 6.2rem;
                margin-top: -3rem;
                position: absolute;
                margin-left: -2.9rem;
                left: 50%;
                top: 0;
                width: 5.8rem;
            }
            h3 span {
                color: var(--color-accent-tertiary);
            }
            button {
                background-color: var(--color-accent-tertiary);
            }
        }
    }
}
.payment-modal {
    background-color: var(--bgcolor-plans-page);
    border-radius: 5px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
    min-width: 18rem; 
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 10em;
    z-index: 2;
    width: 100%;

    header div {
        display: none;
    }
    .btn-pay {
        span.text {
            display: none;
        }
    }
    &.basic {
        #header-basic,
        span.text-pay-basic {
            display: block;
        }
    }
    &.pro {
        #header-pro,
        span.text-pay-pro {
            display: block;
        }
    }

    header {
        background-color: var(--color-primary-light);
        border-bottom: 2px dotted var(--color-border-dash);
        display: flex;
        flex-direction: row;
        padding: 1.5em 2em;

        button.btn-close-dialog {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-weight: bold;
            padding: 0.5em;
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            --webkit-appearance: none;
        }
        img {
            margin-right: 1em;
            max-width: 4rem;
        }

        #header-pro h2 span {
            color: var(--color-accent-tertiary);
        }
        h2 {
            font-size: 1.25rem;
            margin: 0.5em 0 0.25em;

            span {
                color: var(--color-accent-muted);
                font-weight: bold;
                display: inline-block;
                margin-left: 0.25em;
            }
        }
        h3 {
            color: var(--color-accent-muted);
            font-size: 1rem;
            margin: 0;
        }
    }
    section {
        padding: 2em;

        h3 {
            color: var(--color-accent-muted);
            font-size: 0.75rem;
            font-weight: bold;
            letter-spacing: 0.04rem;
            margin: 0;
            text-transform: uppercase;
        }
        .payment-buttons {
            margin-top: 2em;

            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
                margin: 1em 0;
                width: 100%;
            }
            button {
                background-color: transparent;
                border: 2px solid var(--color-border-input);
                border-radius: 5px;
                outline: 0;
                padding: 1.5em;
                text-align: center;

                span {
                    color: var(--color-accent-muted);
                    display: block;
                }
                &.active {
                    border-color: var(--color-border-input-active);
                }
            }
        }
        .control-group {
            margin: 1em 0;
            position: relative;

            &.radios {
                align-items: center;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 3fr;

                .custom-radio-group {
                    align-items: center;
                    display: flex;
                }
            }
            &.row {
                display: grid;
                grid-template-columns: 7fr 3fr;
                gap: 1em;
            }
            .media-img-after {
                position: relative;
                width: 100%;

                img {
                    position: absolute;
                    right: 0.5em;
                    top: 0.5em;
                }
            }

            input[type="text"],
            input[type="number"] {
                border: 2px solid var(--color-border-input);
                border-radius: 5px;
                padding: 0.75em;

                &:not(#amt_custom_text) {
                    width: 100%;
                }
            }
        }
        button.btn-pay {
            background-color: var(--color-accent-cta);
            border: none;
            border-radius: 5px;
            color: var(--color-primary-light);
            cursor: pointer;
            display: block;
            font-weight: bold;
            padding: 1em;
            position: relative;
            width: 100%;
            --webkit-appearance: none;
            
            .icon-lock {
                height: 1rem;
                min-width: 0.85rem;
                position: absolute;
                top: 1em;
                right: 1em;
            }
        }
        p.subhead {
            margin-left: 0;
            text-align: left;

            a {
                color: inherit;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .page-plans .plan-list {
        flex-direction: column;

        &> li {
            margin-right: auto;
            width: auto;
        }
        li.plan-basic {
            margin-bottom: 4em;
        }
        li.plan-pro {
            margin-left: auto;
        }
    }
}
.modal-curtain {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

/* Events page */
.page-events {
    .page-header {
        overflow: hidden;
        position: relative;
    }
    .header-video {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;

        video {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .page-header-content {
        position: relative;
        z-index: 1;
    }
    article.wide-layout {
        margin-top: 4em;
    }
    .event-list {
        font-size: 1.2rem;

        li {
            margin-bottom: 1em;
        }
    }
    .aside {
        background-color: var(--bgcolor-aside);
        padding: 1em;
    }
}
